*{
    margin: 0;
    padding: 0;
}

.main{
    width:100%;
    height:100vh; 
    box-sizing: border-box;   
}

.bgcolor{
    width:100%;
    height: 110vh;
    background-color: rgb(255, 98, 0);
}

.navbar{
    width:100%;
    height: 120px;
    display:flex;
}

.navleft{
    margin-left: 150px;
    margin-top: 20px;
}
.navright{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    font-family: sans-serif;
    padding-top: 30px;
    font-size: 20px;
    display: flex;
    justify-content:right;
    gap: 50px;
    padding-right: 150px; 
    color: white; 
    font-weight: bold;
}

.bb{
    padding-top:25PX;
    display: flex;
    justify-content: space-between;
    gap:50px;
}
   
.btn1{
    width:220px;
    height:60px;
    border : 1px solid white;
    border-radius: 5px;
    background-color:rgb(255, 98, 0) ;
    color: white;
     font-family: sans-serif;
    font-weight: bold;
     font-size: 20px;
     border-radius: 20px;
    margin-bottom: 30px;
    
    
}

.btn2{
    width:180px;
    height:70px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(17, 17, 52);
    
}

.frontpage{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
   
    

}


.content{
    padding-top: 40px;
}
.content h1{
    font-family: sans-serif;  
    font-size: 80px;
    color: white;  
}

.content h2{
    font-family: sans-serif;  
    font-size: 80px;
    color: white;  
    padding-left: 60px;
    padding-right: 30px;
}


.btns{
    padding-top: 40px;
   
   display: flex;
   justify-content: space-around;
   gap:1px;
}
.btn3{
     width:450px;
    height:80px;
    color: rgb(128, 125, 125);
    font-family: sans-serif;
    border-radius: 15px;
    border:1px solid white;
    font-weight: bold;
    font-size: 23px;
    padding-top: 25px;
    justify-content: space-around;
    display:flex;
    background-color: rgb(254, 254, 255);
}

 

.btn4{ width:650px;
    height:80px;
  
     color: rgb(128, 125, 125);
    font-family: sans-serif;
    border-radius: 15px;
    padding-top:10px;
    font-weight: bold;
    font-size: 23px;
     justify-content: space-around;
     /* gap: 150px; */
    display:flex;
    padding-top: 25px;
    
/* padding-bottom:10px;  */
padding-right: 100px;
border:1px solid white;

    background-color: rgb(254, 254, 255);
}

.cards{
    display:flex;
    gap:30px;
    padding-left: 230px;
    padding-top: 10px;
}

.ss{
    width: 100%;
    height: 600px;
    padding-left: 200px;
    padding-top: 40px;
    box-sizing: border-box;
}


.food1{
    width:100%;
    height:360px;
    display:flex;
    gap:10px;
    justify-content: space-around;
    padding-left: 150px;
    box-sizing:border-box;
    padding-right: 150px;
    padding-top: 100px;
}
.food2{
    width:100%;
    height:360px;
    display:flex;
    gap:10px;
    justify-content: space-around;
    padding-left: 150px;
    box-sizing:border-box;
    padding-right: 150px;
    padding-top: 10px;
}

.groceries{
    width:100%;
    height:400px;
}

.groceries h2{
    font-family: sans-serif;
    font-size: 40px;
    padding-left: 150px;
}

.grocycard{
    display: flex;
    justify-content: space-around;
    padding-right:150px ;
    padding-left: 150px;
    padding-top: 30px;
}

.grocyname{
    display: flex;
    justify-content: space-around;
     font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;

}

.banner{
    box-sizing: border-box;    
}

.fooddelivery{
    width: 100%;
    height: 600px;
    font-family: sans-serif;
    font-size: 40px;
    padding-left:350px;
    padding-top: 80px;
     box-sizing: border-box;


   


    

}
.one{
    padding-top: 40px;
}

.two{
    padding-top: 80px;
   
}
.third{
    padding-top: 80px;
}
.onelyr{
 font-family: sans-serif;
    font-size: 20px;
    color: black;
    background-color: white;
width:320px;
height:70px;


padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
 border-radius: 10px;
 

}

.twolyr{
     font-family: sans-serif;
    font-size: 20px;
    color: black;
    background-color: white;
width:320px;
height:70px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
 border-radius: 10px;
}

.thirdlyr{

    font-family: sans-serif;
    font-size: 20px;
    
    color: black;
    background-color: white;
width:320px;
height:70px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
 border-radius: 10px;
 
}

.showmore{
     font-family: sans-serif;
    font-size: 20px;
    color: rgb(208, 51, 12);
    background-color: white;
    font-weight: bold;
width:320px;
height:70px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
 border-radius: 10px;
}



.grocerydelivery{
    width: 100%;
    height: 600px;
    font-family: sans-serif;
    font-size: 40px;
    padding-left:350px;
    box-sizing: border-box;
    
   
    padding-bottom: 10px;

}
.four{
    padding-top: 40px;
}

.five{
    padding-top: 80px;
   
}
.six{
    padding-top: 80px;
}
.fourlyr{
 font-family: sans-serif;
    font-size: 20px;
    color: black;
    background-color: white;
width:360px;
height:70px;


padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
 border-radius: 10px;
 

}

.fivelyr{
     font-family: sans-serif;
    font-size: 20px;
    color: black;
    background-color: white;
width:360px;
height:70px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
 border-radius: 10px;
}

.sixlyr{

    font-family: sans-serif;
    font-size: 20px;
    
    color: black;
    background-color: white;
width:360px;
height:70px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
 border-radius: 10px;
 
}

.showmore{
     font-family: sans-serif;
    font-size: 20px;
    color: rgb(208, 51, 12);
    background-color: white;
    font-weight: bold;
width:320px;
height:70px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
 border-radius: 10px;
}




.list{
    width:100%;
    height:600px;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing:border-box;

}

.imgtext p{
    font-size: 20px;
    font-family: sans-serif;
    padding-top: 15px;
}

.lists{
     display: flex;
    flex-direction: column;
    gap: 20px;
}

.lists p{
    font-size: 25px;
    font-family: sans-serif;
    
}
.lists ul{
    font-size: 20px;
    line-height: 40px;
    color: rgb(71, 71, 71);
    padding-left: 20px;
    font-family: sans-serif;
  

    
}



.icons{

 word-spacing: 10px;
}

.icons img{
        padding-top: 20px;
        width:30px;
        height: 30px;
}

.download{
    width: 100%;
    height: 250px;
    display:flex;
    justify-content: space-evenly;
    padding-top: 30px;
    box-sizing: border-box;
    padding-right: 50px;
   
}

.text{
    font-family: sans-serif;
    font-size: 35px;
    padding-top: 55px;
   
}
  
.img{
    width: 600px;
    height: 100px;
    padding-top: 35px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    

    
}
